<!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark">-->
  <!--<span class="navbar-text">-->
    <!--Edit your code here:&nbsp;-->
  <!--</span>-->

  <!--<ul class="nav navbar-nav navbar-right">-->
    <!--<li class=''>-->
      <!--<a href="#">-->
        <!--<input type="button" value="Edit" />-->
      <!--</a>-->
    <!--</li>-->

    <!--<li class=''>-->
      <!--<a href="#">-->
        <!--<input type="button" value="Save" />-->
      <!--</a>-->
    <!--</li>-->
  <!--</ul>-->
<!--</nav>-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <!-- header  -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Edit your code here:</a>
    </div>

    <!-- items -->
    <div class="collapse navbar-collapse" id="topNavBar">
      <ul class="nav navbar-nav navbar-right">
        <li class=''>
          <a href="#">
            <!--<input id="saveButton"type="button" value="Edit"/>-->
            <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true">Edit</i>
          </a>
        </li>

        <li class=''>
          <a href="#">
            <!--<input id="editButton" type="button" value="Save"/>-->
            <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Above part has to be placed in menu-buttons component -->

<div id="container">
  <div id="filebrowser">
    <p> All Files: </p>
    <div id="mySidenav" class="sidenav">
      <ul>
        <div *ngIf="isArray(myArray)"></div>
        <li *ngFor="let arrElement of myArray">
          <div *ngIf="!isArray(arrElement) else ngTemplate"><a href="#"> {{ arrElement }}</a></div>
          <ng-template #ngTemplate>
            <ul>
              <li *ngFor="let subElement of arrElement"><a href="#"> {{subElement}} </a></li>
            </ul>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
  <div class="center" id="thumbnails">
        <textarea rows="42" cols="135" name="modifiedcode" form="modifiedcodeform">
		Your code is here!!
	</textarea>
  </div>
</div>
